In [1]:
import numpy as np
import pandas as pd
# Data 
print('Amit kumar')

Amit kumar

In [2]:
print('amit')

amit

In [3]:
today = "Sataurdy"
print("Today is", today)

Today is Sataurdy

In [4]:
def say_hello():
    print('Hello there!')
    print('How are you?')

In [5]:
say_hello()

Hello there!
How are you?

In [6]:
def filter_even(number_list):
    result_list =[]
    for number in number_list:
        if number % 2 ==0:
            result_list.append(number)
    return result_list

In [7]:
even_list = filter_even([1,2,3,4,5,6])

In [8]:
even_list

[2, 4, 6]

In [9]:
def loan_emi(amount):
    emi = amount / 12
    print('The EMI is ${}'.format(emi))

In [10]:
loan_emi(1260000)

The EMI is $105000.0

In [11]:
def loan_emi(amount, duration):
    emi = amount / duration
    print('The EMI is ${}' .format(emi))

In [12]:

loan_emi(1260000, 8*12)
loan_emi(1260000, 10*12)

The EMI is $13125.0
The EMI is $10500.0

In [13]:
def loan_emi(amount, duration):
    emi = amount / duration
    return emi

In [14]:
emi1 = loan_emi(1260000, 8*12)
emi2 = loan_emi(1260000, 10*12)

In [15]:
emi1

13125.0

In [16]:
emi2

10500.0

In [17]:
# Optional arguments


def loan_emi(amount, duration, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount / duration
    return emi

emi1 = loan_emi(1260000, 8*12, 3e5)

In [18]:
emi1

13125.0

In [19]:
emi2 = loan_emi(1260000, 10*12)

In [20]:
emi2

10500.0

In [21]:
def lone_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    
    return emi

In [22]:
lone_emi(1260000, 8*12, 0.1/12, 3e5)

14567.19753389219

In [23]:
# while calculating the EMI for option 2, we need not include the down_payment argument.

In [24]:
lone_emi(1260000, 10*12, 0.08/12)

15287.276888775077

In [25]:
emi1 = loan_emi(
    amount=1260000, 
    duration=8*12, 
    rate=0.1/12, 
    down_payment=3e5
)

TypeError: loan_emi() got an unexpected keyword argument 'rate'

In [ ]:
emi2 = loan_emi(amount=1260000, duration=10*12, rate=0.08/12)

In [ ]:
import math

In [ ]:
help(math.ceil)

In [ ]:
math.ceil(1.2)

Lets now use the math.ceil function within the home_lone_emi function to round up the 
EMI amount.


Using functions to build other functions is a great way to reuse code and implement
complex business logic while still keeping the code small, understandable,
and manageable.Ideally, a function should do the thing and onething 
only. if you find yourself writing a function that does too many things, 
consider spliting it into multiple smaller, independent function As a rule
of thumbs, try to limits function to 10 lines
of cods or less. good programmers always write short, and redable function.

In [ ]:
def lone_emi(amount, duration, rate, down_payment=0):
    lone_amount = amount  - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [ ]:

emi1 = loan_emi(
    amount=1260000, 
    duration=8*12, 
    rate=0.1/12, 
    down_payment=3e5
)

# Reusing and improving functions
This question is now straightforword to solve, using the lone-emi 
function we've alwaredy defiend.

In [ ]:
cost_of_house = 800000
home_loan_duration = 6*12 # months
home_loan_rate = 0.07/12 # monthly
home_down_payment = .25 * 800000

emi_house = loan_emi(amount=cost_of_house,
                     duration=home_loan_duration,
                     rate=home_loan_rate, 
                     down_payment=home_down_payment)

emi_house

In [ ]:
coust_of_car = 60000
car_lone_duration = 1*12 # months
car_lone_rate = .12/12 # monthly

emi_car = loan_emi(amount=coust_of_car,
                  duration=car_loan_duration,
                  rate=car_loan_rate)
emi_car

In [ ]:
try:
    
    print('Now computing the result..')
    result = 5 / 0
    print("Computation was completed successfully")
except ZeroDivisionError:
    print("Failed to compute result because you wear trying to divide by zero")
    result = None
    
print(result)

In [ ]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [ ]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)
emi_with_interest

In [ ]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0)
emi_without_interest

In [ ]:
total_interest = (emi_with_interest - emi_without_interest) * 10*12

In [ ]:
print("The total interest paid is ${}.".format(total_interest))

In [ ]:
#Documenting function using Docstrings

def loan_emi(amount, duration, rate, down_payment=0):
    """"Calculats the equal monthly installment (EMI) for a loan.
    
    Arguments:
         amount - Total amount to be spent (loan + down payment)
         duration - Duration of the loan (in months)
         rate - Rate of interest (monthly)
         down_payment (optional) - Optional intial payment (deducted from amount)
       """
     loan_amount = amount - down_payment
     try:
        emi = loan_amount * rate * ((1+rate)**duration) / ((1+rate)**duration)-1)
     except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [ ]:
# if condition:
 # statement1
 # statement2 


a_number = 31

In [ ]:
if a_naumber % 2 == 0:
    print("We're inside an if block")
    print("The given number {} is even.".format(a_number))

In [ ]:
another_number = 33

In [ ]:
if anoather_number % 2 == 0:
    print('The given number {} is even.'.format(a_number))

if condition:
    statement1
    statement2
else:
    statement4
    statement5
    
if condition evaluates to True, the statements in the if block are executed.
if it evaluates to False, the statements in the else block are executed.

In [ ]:
a_number = 34

In [ ]:
if a_number % 2 == 0:
    print('The Given number {} is even.'.format(a_number))
else:
    print('The Given number {} is odd.'.format(a_number))

In [ ]:
a_number = 44

In [ ]:
if a_number % 3 == 0:
    print('The Given number {} is even.'.format(a_number))
else:
    print('The Given number {} is odd.'.format(a_number))

In [ ]:
the_3_musketeers = ('Athos', 'Porthos', 'Aramis')

In [ ]:
a_candidate = "D'Artagnan"

In [ ]:
if a_candidate in the_3_musketeers:
    print("{} is a musketeer".format(a_candidate))
else:
    print("{} is not a musketeer".format(a_candidate))

In [ ]:
today = 'Wednesday'

In [ ]:
if today == 'Sunday':
    print('Today is the day of the sun.')
elif today == 'Monday':
    print('Today is the day of the moon.')
elif today == 'Tuesday':
    print('Today is the day of the Tyr, the god of war.')
elif today == 'Wednesday':
    print('Today is the day of the sun. the evel of war.')
elif today == 'Thuresday':
    print('Today is the day of Thor, the god of thunder.')
elif today == 'Friday':
    print('Today is the day of Frigga, the goddess of beauty.')
elif today == 'Saturday':
    print('Today is the day of Saturn, the god of fun and featuring.')

In [ ]:
i = 1
result = 1 

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    
print('i:', i)
print('result:',result)

In [ ]:
i = 1
result = 1

while i <= 100:
    result *=i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    i += 1
    
print('i:', i)
print('result:',result)

In [ ]:
days = ['Monday', 'Tuesday','Wednesday','Thuresday','Friday']

for day in days:
    print((day))

In [ ]:
Name = ['Amit','Harneet','Rashmi','Kumar','Kumar','Lata']

for Name in Name:
    print((Name))

In [ ]:
#Looping over a string
for char in 'Monday':
    print(char)

In [ ]:
#Looping over a string
for char in 'LalalandbooomShanker':
    print(chr)

In [ ]:
#Looping over s truple
for fruit in ['Apple','Banana','Guava']:
    print("Here's s fruit:",fruit)

In [ ]:
#Looping in dictionary
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print('Key:', key, ",", "Value:", person[key])

In [ ]:
for value in person.values():
    print(value)

In [ ]:
for value in person.values():
    print(value)

In [ ]:
for kay, value in person.items():
    print("key:",key,",","value",value)

In [ ]:
for i in range(7):
    print(i)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(3, 10):
    print(i)

In [ ]:
for i in range(3, 14, 5):
    print(i)

Range are using iterating over list when you need to track the index of elements while
iterting.

In [ ]:
a_list =['Monday','Tuesday','Wednesday','Thuresday','Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

Another way to achieve the same rasult is by using the enumerate function
with a_list as an input, which result a truple containing the index and the cooresponding element.

In [ ]:
for i, val in enumerate(a_list):
    print('The value at position {} is {}.'.format(i, val))

In [ ]:
#Break, continue and pass statements
weekdays = ['Monday','Tuesday','Wednesday','Thuresday','Friday']

In [ ]:
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't worke beyound Wednesday!")
        break

In [ ]:
for day in weekdays:
    if (day == 'wednesday'):
        print("I don't work on wednesay!")
        continue
    print("Today is {}". format(day))

In [ ]:
for day in weekdays:
    pass

#Nested for and while loops
similar to conditional statement, loops can be nested other looping. 
This is useful for looping list of lists, dictionaries etc.

In [ ]:
persons = [{'name':'John','sex':'Male'}, {'name':'Jane','sex':'Female'}]

for person in persons:
    for key in person:
        print(key, ":" , person[key])
        print(" ")

In [ ]:
person = [{'name':'amit','sex':'Male'},{'name':'Dr','sex':'Femal'}]

for person in persons:
    for key in person:
        print(key, ":" , person[key])
        print(" ")

In [ ]:
days = ['Monday','Tuesday','Wednesday']
fruits = ['apple','banana','guava']

for day in days:
    for fruits in fruits:
        print(day, fruits)

In [ ]:
cost_of_flying_plane = 5000
number_of_passengers = 29
price_of_ticket = 200
profit = [200*29-5000]
print('The company makes of a profit of {} dollars'.format(profit))

In [ ]:
# this is optional.
return_flight = (12*200-800)

if :
    print('The company makes an overall profit of {} dollars'.format(return_flight))
else:
    print('The company makes an overall loss of {} dollars'.format(overall_loss))

In [ ]:
import numpy as np
print(np.array([[[
    [[11, 12, 13], 
     [13, 14, 15]], 
    [[15, 16, 17], 
     [17, 18, 19.5]]]
    ]]).ndim)

In [ ]:
arr1 = np.array([[0, 1, 2],
                 [3, 4, 5]])
arr2 = np.array([[6, 7, 8],
                 [9, 10, 11]])
print(np.concatenate((arr1, arr2), axis=1))

In [ ]:
arr2 = np.array([[1, 4, 7, 8], 
                 [2, 5, 8, 7], 
                 [3, 6, 9, 1]])
arr1 = np.array([3, 2, 5, 1])
print(arr1 + arr2)

In [ ]:
arr3 = np.array([
    [[11, 12, 8, 19], 
     [13, 21, 4, 19]], 
    
    [[5, 1, 7, 21], 
     [13, 9, 6, 1]], 
    
    [[9, 32, 18, -5],      
     [15, 25, 11, -6]]])
print(arr3[:2, 1].sum())

In [ ]:
arr1 = np.array([[1, 2, 3], [3, 4, 7]])
arr2 = np.array([[2, 2, 3], [1, 2, 9]])
print(((arr1 >= arr2) - 1).astype("bool").sum())

In [ ]:
arr = np.arange(100)
arr1 = arr.reshape(2, 5, 2, -1)
print(sum(list(arr1.shape)))

In [ ]:
arr = np.array([0, 3, 5, 7, 8, 12, 9, 32, 157, 33])
print(sum(arr % 2 == 0) + sum(arr[arr%3 == 0]))

In [ ]:
arr = np.arange(9).reshape(3, 3)
arr2 = arr[[1, 0, 2], :] @ arr[:, [1, 0, 2]]

In [ ]:
a = np.array([[0, 1, 2, 3, 4],
              [5, 6, 7, 8, 9],
              [1, 1, 1, 1, 1],
              [3, 9, 5, 7, 8]])
print(*a[(a[:, 2]>2) & (a[:, 0]>4)][0], sep=", ")

# starting new verient of corona-vareous that's heet world. 
# Calling That. OMEGA VERIOUNT. 
#analyzing data.OMEGE VERIOUNT.

In [1]:
#import library.
import pandas as pd
import numpy as np
import matplotlib as mlt
import seaborn as sns

In [2]:
# importing  pandas as module
import pandas as pd

# making data frame from csv file.
data = pd.read_csv("nbc.csv")
data

FileNotFoundError: [Errno 2] No such file or directory: 'nbc.csv'